$primary-color: #FFFFFF;
$secondary-color: #F7F7F7;
$tertiary-color: #000000;
$quaternary-color: rgb(47, 96, 96);
$quinary-color: #7A6666;
$senary-color: rgb(160, 168, 148);
$septenary-color: #a0a894;
$octonary-color: #333333;







